@model AlarmSystem.ViewModels.AlarmItemViewModel
@{
    ViewData["Title"] = "Juno Line Alram System";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h1 class="display-6 ps-3 fw-bold text-start">編輯 @Model.Stid 警報項目</h1>
        <div>
            @if (Model.Enable)
            {
                <i class="bi bi-circle-fill text-success">上線</i>
            }
            else
            {
                <i class="bi bi-circle-fill text-danger">斷線</i>
            }
        </div>
    </div>
    <div class="alert alert-primary mb-0" role="alert">
        <label>@ViewData["Error"]</label>
        <label>@TempData["Error"]</label>
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
    <div class="border border-3 border-primary-subtle rounded-3 px-3 my-3">
        <button type="button" class="btn btn-danger p-0 px-2 position-absolute end-0 translate-middle-x m-3" data-bs-toggle="modal" data-bs-target="#Modal_@Model.Stid">
            <i class="bi bi-trash3-fill"></i>
        </button>
        @if (Model.Settings != null)
        {
            <form asp-controller="Alarm" asp-action="CreateEdit" method="post">
                <div class="row align-items-center mt-3">
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal_set">
                            <i class="bi bi-plus-lg"></i> 新增項目
                        </button>
                    </div>
                    <input type="hidden" name="Stid" value="@Model.Stid" />
                    <div class="col-2">
                        <label for="location" class="col-form-label" asp-for="@Model.Location"></label>
                        <input type="text" class="form-control" id="location" name="Location" value="@Model.Location">
                    </div>
                    <div class="col-1">
                        <label for="delayTime" class="col-form-label" asp-for="@Model.DelayTime"></label>
                        <input type="number" class="col-2 form-control" id="delayTime" min="1" name="DelayTime" value="@Model.DelayTime">
                    </div>
                    <div class="form-check col-1 mt-4">
                        <input class="form-check-input" type="checkbox" name="BreakAlarm" value="true" id="flexCheckChecked" @(Model.BreakAlarm ? "checked" : "")>
                        <label class="form-check-label" for="flexCheckChecked">
                            斷線通知
                        </label>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <div class="row row-cols-4 row-cols-lg-5">
                    @for (int i = 0; i < Model.Settings.Count; i++)
                    {
                        <div class="m-3 p-3 border border-3 rounded-3 col position-relative" style="width:360px;">
                            <div class="position-absolute end-0 translate-middle-x">
                                <button type="button" class="btn btn-danger p-0 px-2" data-bs-toggle="modal" data-bs-target="#Modal_@Model.Settings[i].Id">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </div>
                            <div>
                                <input type="hidden" name="Settings[@i].Stid" value="@Model.Settings[i].Stid">
                            </div>
                            <div>
                                <input type="hidden" name="Settings[@i].Id" value="@Model.Settings[i].Id">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="parameterShow_@i" class="form-label" asp-for="@Model.Settings[i].ParameterShow"></label>
                                <input type="text" class="form-control" id="parameterShow_@i" name="Settings[@i].ParameterShow" value="@Model.Settings[i].ParameterShow">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="parameterColumn_@i" class="form-label" asp-for="@Model.Settings[i].ParameterColumn"></label>
                                <input type="text" class="form-control" id="parameterColumn_@i" name="Settings[@i].ParameterColumn" value="@Model.Settings[i].ParameterColumn">
                            </div>
                            <div class="mb-3">
                                <label for="threshold_@i" class="form-label" asp-for="@Model.Settings[i].Threshold"></label>
                                <input type="number" class="form-control" id="threshold_@i" name="Settings[@i].Threshold" min="1" value="@Model.Settings[i].Threshold">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="startTime_@i" class="form-label" asp-for="@Model.Settings[i].StartTime"></label>
                                <input type="time" class="form-control" id="startTime_@i" name="Settings[@i].StartTime" value="@Model.Settings[i].StartTime.ToString("HH:mm")">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="endTime_@i" class="form-label" asp-for="@Model.Settings[i].EndTime"></label>
                                <input type="time" class="form-control" id="endTime_@i" name="Settings[@i].EndTime" value="@Model.Settings[i].EndTime.ToString("HH:mm")">
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button type="submit" class="btn btn-primary me-3">儲存</button>
                    <button class="btn btn-warning" asp-action="Index">返回</button>
                </div>
            </form>
            <!-- Modal 刪除Settings -->
            @foreach (var item in Model.Settings)
            {
                <div class="modal fade" id="Modal_@item.Id" tabindex="-1" aria-labelledby="ModalLabel_@item.Id" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form asp-controller="Alarm" asp-action="DeleteSet" asp-route-Id="@item.Id" method="post">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger" id="ModalLabel_@item.Id">
                                        <i class="bi bi-exclamation-triangle-fill"></i> 確定要刪除嗎?
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="stid" value="@item.Stid" />
                                    欄位名稱： @item.ParameterShow <br>
                                    欄位： @item.ParameterColumn
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                    <button type="submit" class="btn btn-primary">確定</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!-- Modal 新增Settings -->
<div class="modal fade" id="Modal_set" tabindex="-1" aria-labelledby="ModalLabel_set" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="needs-validation" asp-controller="Alarm" asp-action="CreateSettings" method="post" novalidate>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel_set">
                        新增
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row row-cols-1">
                        <div class="col">
                            <div>
                                <input type="hidden" class="form-control" name="Stid" value="@Model.Stid">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="parameterShow" class="form-label">欄位名稱</label>
                                <input type="text" class="form-control" id="parameterShow" name="ParameterShow" value="" required>
                                <div class="invalid-feedback">
                                    欄位必填
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="parameterColumn" class="form-label text-danger">API Parameter</label>
                                <input type="text" class="form-control" id="parameterColumn" name="ParameterColumn" value="" required>
                                <div class="invalid-feedback">
                                    欄位必填(且須對應API的Parameter)
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="threshold" class="form-label">閾值</label>
                                <input type="number" class="form-control" id="threshold" name="Threshold" min="1" value="" required>
                                <div class="invalid-feedback">
                                    閾值必需大於0
                                </div>
                            </div>
                            <div class="mb-3 col-6">
                                <label for="startTime" class="form-label">開始時間</label>
                                <input type="time" class="form-control" id="startTime" name="StartTime" value="00:00">
                            </div>
                            <div class="mb-3 col-6">
                                <label for="endTime" class="form-label">結束時間</label>
                                <input type="time" class="form-control" id="endTime" name="EndTime" value="23:59">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="submit" class="btn btn-primary">確定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal 刪除AlarmItem -->
<div class="modal fade" id="Modal_@Model.Stid" tabindex="-1" aria-labelledby="ModalLabel_@Model.Stid" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Alarm" asp-action="DeleteItem" method="post">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="ModalLabel_@Model.Stid">
                        <i class="bi bi-exclamation-triangle-fill"></i> 確定要刪除 @Model.Stid 嗎?
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="stid" value="@Model.Stid" />
                    位置： @Model.Location
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <button type="submit" class="btn btn-primary">確定</button>
                </div>
            </form>
        </div>
    </div>
</div>
