@model List<AlarmSystem.Models.AlarmSettings>
@{
    ViewData["Title"] = "Juno Line Alram System";
}
<div class="container-fluid">
    <h1 class="display-6 mt-3 ps-3 fw-bold text-start">編輯 @Model[0].Stid 警報項目</h1>
    <div class="alert alert-primary mb-0" role="alert">
        <label> @ViewData["Error"]</label>
        <div class="text-danger" asp-validation-summary="All"></div>
    </div>
    <form asp-controller="Alarm" asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        <div class="row row-cols-4">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="m-3 p-3 border border-3 rounded-3 col" style="width:360px;">
                    <div>
                        <input type="hidden" class="form-control" id="stid_@i" name="Model[@i].Stid" value="@Model[i].Stid">
                    </div>
                    <div>
                        <input type="hidden" class="form-control" id="id_@i" name="Model[@i].Id" value="@Model[i].Id">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="parameterShow_@i" class="form-label" asp-for="@Model[i].ParameterShow"></label>
                        <input type="text" class="form-control" id="parameterShow_@i" name="Model[@i].ParameterShow" value="@Model[i].ParameterShow">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="parameterColumn_@i" class="form-label" asp-for="@Model[i].ParameterColumn"></label>
                        <input type="text" class="form-control" id="parameterColumn_@i" name="Model[@i].ParameterColumn" value="@Model[i].ParameterColumn">
                    </div>
                    <div class="mb-3">
                        <label for="threshold_@i" class="form-label" asp-for="@Model[i].Threshold"></label>
                        <input type="number" class="form-control" id="threshold_@i" name="Model[@i].Threshold" value="@Model[i].Threshold">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="startTime_@i" class="form-label" asp-for="@Model[i].StartTime"></label>
                        <input type="time" class="form-control" id="startTime_@i" name="Model[@i].StartTime" value="@Model[i].StartTime.ToString("HH:mm")">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="endTime_@i" class="form-label" asp-for="@Model[i].EndTime"></label>
                        <input type="time" class="form-control" id="endTime_@i" name="Model[@i].EndTime" value="@Model[i].EndTime.ToString("HH:mm")">
                    </div>
                </div>
            }
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="submit" class="btn btn-primary me-3">更新</button>
            <button class="btn btn-warning" asp-action="Index">返回</button>
        </div>
    </form>
</div>